<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue To Do List</title>
</head>
<body>

    <div id="root">
        <header>
            <h1>TO DO LIST</h1>
        </header>

        <main>
            <div class="add-new-todo">
                <input @keyup.enter="addNewToDo" v-model="newToDoText" type="text" placeholder="Nuova Todo">
                <button @click="addNewToDo">Aggiungi</button>
            </div>

            <div class="todo-list">
                <ul>
                    <!-- <li>
                        Fare la spesa
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </li>
                    <li>
                        Pagare la bolletta
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </li>
                    <li>
                        Andare dal parrucchiere
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </li>
                    <li>
                        Portare fuori il cane
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </li>
                    <li>
                        Ordinare la pizza
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </li>
                    <li>
                        Fare l'esercizio del pomeriggio
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </li> -->

                    <!-- Tramite un v-for scorro il mio array di oggetti e per ogni elemento stampo la proprietà 'text' -->
                    <li :class="{ 'todo-done' : todo.done}" v-for="(todo, index) in todos">
                        <a @click="invertToDoOrDone(index)">{{ todo.text }}</a>
                        <span>
                            <i @click="removeToDo(index)" class="fas fa-times"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>